<div class="w3-container w3-teal">
  <h1> Crytocurrencies arbitrage analysis </h1>
</div>


  <div class="w3-container">
    <h2>Successful Validation!</h2>
    <p> Please select one of the following cryptocurrencies to analyse: </p>
    <div class="w3-dropdown-hover">
      <button class="w3-button">Select coin <i class="fa fa-chevron-down"></i></button>
      <div class="w3-dropdown-content w3-bar-block w3-border">
        <a href="/coin/bitcoin" class="w3-bar-item w3-button">BTC</a>
        <a href="/coin/ethereum" class="w3-bar-item w3-button">Ethereum</a>
        <a href="/coin/litecoin" class="w3-bar-item w3-button">Litecoin</a>
        <a href="/coin/ripple" class="w3-bar-item w3-button">Ripple</a>
        <a href="/coin/bitcoin-cash" class="w3-bar-item w3-button">Bitcoin cash</a>
        <a href="/coin/cardano" class="w3-bar-item w3-button">Cardano</a>
      </div>
    </div>
