<script src="/javascripts/sorttable.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/json2html/1.2.0/json2html.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery-ui.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/3.4.0/css/tabulator.min.css" rel="stylesheet">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/3.4.0/js/tabulator.min.js"></script>


<script>
  /* This scrypt section is required to get the id of the table after loaded
         this way is possible to get the id from the table imported by node.js/request
      */
  // List of global variables
  var parentElementMainTable = null;
  var addOrderBtn = null

  // Equivalent to <body onload="yourFunction();">
  // window.onload = function() {
  //   // Init globals
  //   parentElementMainTable = document.getElementById('markets-table');
  //   sorttable.makeSortable(parentElementMainTable);
  //
  // }
</script>

<div class="w3-container">
  <h5>Market data for {{ title }} </h5>
</div>

<div class="w3-container">
      <div id="example-table"></div>
        <script type="text/javascript">
        //create Tabulator on DOM element with id "example-table"
        $("#example-table").tabulator({
            height:"620px", // set height of table (optional)
            layout:'fitColumns', //fit columns to width of table (optional)
            movableRows:true,
            // groupBy:"Pair",
            columns:[ //Define Table Columns
                {title:"#", field:"#", sorter:"number", width:3},
                {title:"Source", field:"Source", sorter:"string", align:"left"},
                {title:"Pair", field:"Pair", sorter:"string"},
                {title:"Volume (24h)", field:"Volume (24h)", sorter:"number"},
                {title:"Price", field:"Price", sorter:"number"},
                {title:"Volume (%)", field:"Volume (%)", sorter:"number"},
                {title:"Updated", field:"Updated", sorter:"string", align:"center"},
            ],
            rowClick:function(e, id, data, row){ //trigger an alert message when the row is clicked
                alert("Row " + id + " Clicked!!!!");
            },
        });

        //define some sample data
        // var tabledata = {{{ jsontbl }}};

        //load sample data into the table
        var marketData = {{{ jsontbl }}};
        $("#example-table").tabulator("setData", marketData[0].values);
        </script>
</div>
<br>
<br>
