<div class="w3-container w3-teal">
  <h1> {{ movie }} </h1>
</div>

<div class="w3-container">
<p>
  The movie selected was {{ movie }} which was released on {{ released }} and it has a rating of {{ rating }}.
</p>
